version: '3.8'

services:
  api-gateway:
    image: ghcr.io/jarchia/api-gateway:latest
    ports:
      - "8080:8080"
    deploy:
      replicas: 3
    networks:
      - jarchia-network

  user-service:
    image: ghcr.io/jarchia/user-service:latest
    deploy:
      replicas: 2
    networks:
      - jarchia-network

  postgres:
    image: postgis/postgis:15-3.4
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - jarchia-network

networks:
  jarchia-network:
    driver: overlay

volumes:
  postgres-data:


